<!DOCTYPE html>
<html>
    <head>
        <title>审核志愿者</title>

        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="四川大学青年志愿者服务网 审核志愿者">
        <meta name="author" content="zou">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <!-- custom CSS here -->
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/user.css">
    </head>
    <body>

    {% include 'header_mana.html' %}

    <div class="container">
        <div class="row col-sm-offset-1 col-md-5 formheader">
            <div class="secondtitle">
                <h2>XX活动志愿者筛选</h2>
            </div>
        </div>
        <!--审核名单-->
        <div class="row col-sm-offset-1 col-md-10 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>学院</th>
                        <th>联系电话</th>
                        <th>审核</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                    <tr>
                        <td>金小笨</td>
                        <td>1144012002</td>
                        <td>公共管理学院</td>
                        <td>18200282256</td>
                        <td>
                            <label class="checkbox-inline"><input type="checkbox">通过</label>
                            <label class="checkbox-inline"><input type="checkbox">拒绝</label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary text-center postlist">提交</button>
        </div>

    </div>

    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>


    </body>
</html>