<!DOCTYPE html>
<html>
    <head>
        <title>活动组织方Home</title>

        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="四川大学青年志愿者服务网 活动组织方">
        <meta name="author" content="zou">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <!-- custom CSS here -->
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/user.css">


    </head>
    <body>

        {% include 'header_mana.html' %}

        <div class="container">
            <div class="col-md-offset-1 col-md-10">
                <ul class="list-unstyled deallist">
                    <!--单个活动-->
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="{% url 'checkVolunteer' %}" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="{% url 'timeUpdate' %}" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="{% url 'checkVolunteer' %}" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="{% url 'timeUpdate' %}" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                    <div class="deal">
                        <ul class="list-inline">
                            <li class="dealitem"><h4>社区支教</h4></li>
                            <li ><a href="" type="btn btn-link" class="dealwith">筛选志愿者</a> </li>
                            <li ><a href="" type="btn btn-link" class="dealwith">更新志愿者信息</a> </li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">待审核</div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">审核通过</div>
                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%">审核不通过</div>-->
                            <div class="progress-bar progress-bar-info" style="width: 50%">活动完成</div>
                        </div>
                    </div>
                </ul>
            </div>

        </div>

        <div class="container">
            <!--分页-->
            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="pagination pagination-sm">
                        <li><a href="#">&laquo;前页</a> </li>
                        <li class="active"><a href="#">1</a> </li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">3</a> </li>
                        <li><a href="#">4</a> </li>
                        <li><a class="disabled">...</a></li>
                        <li><a href="#">14</a> </li>
                        <li><a href="#">15</a> </li>
                        <li><a href="#">后页&raquo;</a></li>
                    </ul>
                 </div>
            </div>
        </div>
        {% include 'footer.html' %}


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    </body>
</html>