/* Body Style */
html,body {
    height: 100%;
}

body {
    padding-top: 25px;
}

.mlogo{
    width: 115px;
    height: 115px;
    margin-right: 20px;
}


/* Footer Style */
footer {
    padding-bottom: 10px;
}

.copyright{
    margin-left: 50px;
}


/* Link Style */
a:hover{text-decoration: none;}


/* Search Style */
form[name=search]{
    margin-top: 40px;
}
input[type="search"]{
    width: 230px;
}