<!DOCTYPE html>
<html>
<head>
    <title>重设密码</title>

    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="四川大学青年志愿者 重设密码">
        <meta name="author" content="zou">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <!-- custom CSS here -->
        <link href="/static/css/log_sign.css" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <!-- custom JavaScipt -->
        <script type="text/javascript" src="/static/js/code.js"></script>

</head>
<body onload="createCode()">
    <div class="container">
        <div class="col-md-12">
            <h1 class="page-header"><a href="{% url 'home' %}"><img class="logo" src="/static/images/logom.jpg" alt="logo"/>四川大学青年志愿者&nbsp;<small>服务网</small></a></h1>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-offset-3">
            <form class="form-horizontal form-resetpw" method="post" role="form">
                <div class="form-group">
                    <label class="col-sm-offset-2 form-register-heading"><h3 class="form-reset-heading">重设密码<span class="noid">没有账号？<a href="{% url 'register' %}" >立即注册</a></span></h3></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="请输入注册账号的Email地址">
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-4">
                            <p><input type="text" readonly="readonly" class="code" id="checkCode">
                            <a href="#" onclick="createCode()">换一个</a>
                            </p>
                            <input type="text" id="inputcode" class="form-control" onclick="validate()" placeholder="请输入验证码">
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block active">重设密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--点击按钮后显示-->
    <!--<div class="recive">-->
        <!--<p>请到（邮箱地址）查阅来自四川大学青年志愿者服务网的邮件</p>-->
        <!--<p><a href="(邮箱地址)">登录XX邮箱查收密码</a> </p>-->
    <!--</div>-->

    {% include 'footer.html' %}

</body>
</html>
