<!DOCTYPE html>
<html>
    <head>
	    <title>template</title>

		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="四川大学青年志愿者服务网">
        <meta name="author" content="zou">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <!-- custom CSS here -->
        <link rel="stylesheet" href="/static/css/common.css">
        <!--<link href="/static/css/main.css" rel="stylesheet">-->

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- custom JavaScipt -->



	</head>
    <body>


    </body>
</html>
